@font-face {
  font-family: "Alexandria";
  src: url("/fontes/Alexandria-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Alexandria";
  src: url("/fontes/Alexandria-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Alexandria";
  src: url("/fontes/Alexandria-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Alexandria";
  src: url("/fontes/Alexandria-Black.ttf") format("truetype");
  font-weight: 900;
}

body {
  font-family: "Alexandria", sans-serif;
}

.icon-butt {
  transition: all 0.2s !important;
}

.icon-butt:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.todocart {
  transition: all 0.2s !important;

}

.todocart:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);

}